__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.o
*.a
*.swp
*.tmp
*.log
.venv/
.env
.env.*
.vscode/
.idea/
.git/
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.o
**/*.a
**/*.swp
**/*.tmp
**/*.log
